<%- partial('partial/header') %>

<ul class="list-container">
<% site.posts.sort('date', -1).forEach(function (page) { %>
    <li>
        <a title="<%= page.title%>" href="<%= page.path %>">
					<strong class='title'><%= page.title%></strong>
					<span class='date'><%- date(page.date, config.date_format) %></span>
				</a>
    </li>
<%})%>
</ul>
