<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="description" content="技术笔记 前端开发"/>
    <title><%- config.title %></title>
    <%- css("/styles/layout-bundle.css") %>
	<script>
		// 百度统计
		var _hmt = _hmt || [];
		(function() {
			var hm = document.createElement("script");
			hm.src = "https://hm.baidu.com/hm.js?3ee29108db650b60a69ef622a9cbefeb";
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(hm, s);
		})();
	</script>
</head>
<body>
    <div class="main">
        <%- body %>
    </div>
	<footer class='site-footer'>
		<section>
		<p>欢迎交流</p>
		<address>Email: <a href="mailto:<%- theme.email%>"><%- theme.email%></a></address>
		<address>Github: <a href="<%- theme.github%>"><%- theme.github%></a></address>
		</section>
	</footer>
	<!--<%- js("/scripts/layout-bundle.js") %>-->
</body>
</html>
