<%- css("/styles/post-bundle.css") %>
<div class="post-page">
    <h1 class="post-title"><%= page.title%> </h1>
    <p class="create-time">发布时间：<%- date(page.date, config.date_format) %></p>
    <article class="content">
        <%- page.content%>
    </article>
    <p class="last-update">最后更新：<%- date(page.updated, config.date_format)%></p>
</div>
<%- js("/scripts/post-bundle.js") %>
